.storiesHeader {
    margin: 10rem 10rem 5rem 10rem;
}

.storiesHeader-header {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 74px;
    line-height: 84px;
    color: #2C98A0;
    margin: 0;
}

.storiesHeader-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}
@media (max-width: 700px) {

    .storiesHeader {
        margin: 2rem;
    }

    .storiesHeader-header {
        font-size: 60px;
    }
    .storiesHeader-text{
        font-size: 25px;
        margin: 0;
        min-width: 300px; 
    }
}

