

.navbar {
    width: 100vw;
    height: 5rem;
    background-color: #EEEFF1;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.navbar-item {
    padding-top: 1.6rem;
    font-size: 26px;
    color: #2C98A0;
}

.navbar-item:hover {
    color: #000000
}