.talks {
    margin: 0 7rem 2rem 7rem;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    height: 100vh;
}

.talks-header {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 54px;
    line-height: 75px;

    color: #2C98A0;
}

.talks-container2 {
    display: flex;
}



.talks-container2-text1 {
    max-width: 300px;
}
.talks-img {
    width: 721px;
    height: 297px;
    border: 10px #2C98A0; 
}
.talks-image-holder {
    width: 721px;
    height: 297px;
    border: 10px #2C98A0; 

}
@media (max-width: 700px) {
    
.talks-header {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 31px;
    line-height: 43px;
    margin-left: -20%;
    color: #2C98A0;
}
.talks-container1-text1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: -20%;
    min-width: 300px;
}
.talks-container1-text2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: -20%;
    min-width: 300px;
    
}
.talks-container2-text1 {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: -20%;
    min-width: 300px;
}
.talks-img {
    display: flex;
    width: 321px;
    height: 197px;
    border: 10px #2C98A0;
    margin-top: 200px;
    margin-left: -330px; 
}
.talks-image-holder {
    width: 721px;
    height: 297px;
    border: 10px #2C98A0; 


}

}