.talks {
    margin: 0 7rem 2rem 7rem;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    height: 100vh;
}

.talks-header {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 54px;
    line-height: 75px;

    color: #2C98A0;
}

.talks-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.talks-container2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

.talks-img {
    width: 400px;
    height: auto;
    border: 2px solid #2C98A0;
}

@media (max-width: 1024px) {
    .talks-img {
        width: 250px;
        height: auto;
        margin: 0;
    }
    .talks-container1-text1 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;
    }
    .talks-container1-text2 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;   
    }
    .talks-container2-text1 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;
    }
}

@media (max-width: 750px) {

    .talks {
        margin: 2rem;
        position: relative;
    }
    
    .talks-header {
        font-size: 28px;
        line-height: 40px;
    }
    .talks-container1-text1 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;
    }
    .talks-container1-text2 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;   
    }
    .talks-container2-text1 {
        font-size: 20px;
        line-height: 30px;
        min-width: 350px;
    }
    .talks-img {
        width: 300px;
        height: auto;
        border: 2px solid #2C98A0;
        margin: 0;
    }

    .talks-container2 {
        flex-direction: column;
        justify-content: space-between;
    }

}