.personRight {
    display: flex;
    gap: 20px;
    background: #C4D9D7;
    align-items: center;
    padding: 0 5rem;
}

.personRight-image {
    height: 750px;
    margin: 3rem;
    border-radius: 20px;
    display: block;
}

.personRight-text-holder {
    margin: 2rem 2rem 0 5rem;
}

.personRight-h1 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 104px;
    color: #2C98A0;
    margin: 0;
}

.personRight-h3 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #2C98A0;
}

.personRight-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    max-width: 655px;
}

.personRight-image1 {
    height: 400px;
    width: auto;
    margin-top: 1rem;
    display: none;
    border-radius: 20px;
}

.personRight-quote {
    font-style: italic;
}

@media (max-width: 1000px) {

    .personRight-image {
        height: 500px;
        width: auto;
        margin: 0;
    }
    .personRight-h1 {
        font-size: 46px;
        line-height: 54px;
    }
    .personRight-h3 {
        font-size: 27px;
        line-height: 29px;
    }

}

@media (max-width: 800px) {

    .personRight-image {
        height: 400px;
        width: auto;
        margin: 0;
        display: none;
    }

    .personRight {
        flex-direction: column;
    }

    .personRight-image1 {
        display: block;
    }

    .personRight-text-holder {
        margin: 2rem;
    }

    .personRight-text-holder {
        margin: 0;
    }

}