.factsSources {
    margin: 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.factsSources-header {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #2C98A0;
    margin: 0;
}

.factsSources-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    gap: 20px;
}
.factsSources-list a{
    text-decoration: none;
    color: #2C98A0;
}
.factsSources-list a:hover{
    text-decoration:underline;
    color: #2C98A0;
}

@media screen and (max-width: 768px) {
    .factsSources {

    }
    .factsSources-list {
        font-size: 12px;
    }
}