.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.video-frame {
    width: 1280px;
    height: 720px;
}
@media (max-width: 768px) {
    .video {
        width: 70%;
        height: auto;
        margin: 3rem;
    }

    .video-frame{
        width: 600px;
        height: 300px;

    }
}