.personLeft {
    display: flex;
    gap: 20px;
    background: #CDE1DE;
    align-items: center;
}

.personLeft-image {
    width: 405px;
    height: 540px;
    margin: 5rem;
    border-radius: 20px;
}

.personLeft-text-holder {
    margin-left: 2rem;
}

.personLeft-h1 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 121px;
    color: #2C98A0;
    margin: 0;
}

.personLeft-h3 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    color: #2C98A0;
}

.personLeft-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    max-width: 655px;
}