.personLeft {
    display: flex;
    gap: 20px;
    background: #CDE1DE;
    align-items: center;
    padding: 0 5rem;
}

.personLeft-image {
    height: 750px;
    margin: 5rem 3rem 5rem 5rem;
    border-radius: 20px;
}

.personLeft-text-holder {
    margin-left: 2rem;
}

.personLeft-h1 {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 104px;
    color: #2C98A0;
    margin: 0;
}

.personLeft-h3 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #2C98A0;
}

.personLeft-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    max-width: 655px;
}

.personLeft-quote {
    font-style: italic;
}

@media (max-width: 700px) {
    .personLeft-image {
        height: 300px;
        margin-top: -1000px;
        margin-left: -50px;
    }
    .personLeft-h1 {
        font-family: 'Caveat Brush';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 54px;
        
    }
    .personLeft-h3 {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 27px;
        line-height: 29px;
    }
}