.factBoxes {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 2rem 0;
    padding: 0 7rem;
}

.factBoxes-first {
    display: flex;
    margin: 0 2rem;
}

.factBoxes-second {
    display: flex;
    margin: 0 2rem;
}

.factBoxes-third {
    display: flex;
    margin: 0 2rem;
}

.first-firstBox {
    width: 743px;
    height: 358px;
    background: #E7E7E7;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-secondBox {
    width: 531px;
    height: 358px;
    background: #2C98A0;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-firstBox {
    width: 718px;
    height: 370px;
    background: #E7E7E7;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-secondBox {
    width: 556px;
    height: 370px;
    background: #2C98A0;
    margin: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.factBox-normal {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 2rem;
    margin: 0 2rem;
}

.factBox-big {
    font-weight: 700;
    font-size: 110px;
    line-height: 129px;
    color: #2C98A0;
    margin: 2rem;
    margin: 0 2rem;
}

.factBox-difBig {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    color: #CCE1DD;
    margin: 0 0 0 2rem;
}

.factBox-dif {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 2rem;
}

.factBox-difs {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0 2rem;
}

@media screen and (max-width: 1300px) {

    .first-firstBox {
        width: 550px;
        height: 350px;
    }

    .first-secondBox {
        width: 300px;
        height: 350px;
    }

    .third-firstBox {
        width: 550px;
        height: 350px;
    }

    .third-secondBox {
        width: 300px;
        height: 350px;
    }

    .factBox-normal {
        font-size: 18px;
        line-height: 24px;
    }

    .factBox-big {
        font-size: 50px;
        line-height: 60px;
    }

    .factBox-dif {
        font-size: 18px;
        line-height: 22px;
    }

    .factBox-difBig {
        font-size: 50px;
        line-height: 60px;
    }

    .factBox-difs {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 820px) {
    .factBoxes {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .factBoxes-first {
        flex-direction: column;
    }

    .factBoxes-second {
        flex-direction: column;
    }

    .factBoxes-third {
        flex-direction: column;
    }

    .first-firstBox {
        width: 300px;
        height: 500px;
    }

    .first-secondBox {
        width: 300px;
        height: 300px;
    }

    .third-firstBox {
        width: 300px;
        height: 500px;
    }

    .third-secondBox {
        width: 300px;
        height: 300px;
    }

    .factBox-normal {
        font-size: 18px;
    }

    .factBox-big {
        font-size: 48px;
    }

    .factBox-dif {
        font-size: 18px;
    }

    .factBox-difBig {
        font-size: 48px;
    }

    .factBox-difs {
        font-size: 18px;
    }
  }