.chatbot-button {
    width: 150px;
    height: 150px;
    top: 85%;
    right: 40px;
    background-color: #2C98A0;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    z-index: 14;
    display: block;
}

.chatbot-div {
    top: 20%;
    right: 90px;
    position: fixed;
    z-index: 13;
}

@media screen and (max-width: 1000px) {
    .chatbot-button{
        display: none;
    }
}