.chatbot-button {
    top: 85%;
    right: 25px;
    position: fixed;
    cursor: pointer;
    z-index: 14;
    display: block;
    color: #2D3142;
}

.chatbot-div {
    top: 20%;
    right: 90px;
    position: fixed;
    z-index: 13;
}

@media screen and (max-width: 1000px) {
    .chatbot-button{
        display: none;
    }
}