.story {
    background-color: #9BC4BC;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.story-header {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #2C98A0;
    font-style: italic;
    margin-left: 5rem;
    margin-top: 4rem;
}

.story-container {
    display: flex;
    margin-top: 11rem;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.story-box {
    width: 400px;
    height: 300px;
    background-color: #C4C4C4;
}