.factsFooter {
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.factsFooter-paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 0 5rem 2rem 5rem;
}

.factsFooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.factsFooter-div1 {
    width: 1300px;
    height: 330px;
    background: #E7E7E7;
    border-radius: 15px;
}

.factsFooter-div1-flex {
    display: flex;
    gap: 20px;
    margin: 1rem;
}

.factsFooter-div1-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1rem;
}

.factsFooter-div1-text-bold {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    height: 30px;
    color: #2C98A0;
}

.factsFooter-div1-text-light {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    max-height: 40px;
}

.factsFooter-div2 {
    width: 1300px;
    height: 330px;
    background: #2C98A0;
    border-radius: 15px;
}
.factsFooter-div2-flex {
    display: flex;
    gap: 20px;
    margin: 1rem;
}

.factsFooter-div2-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1rem;
}

.factsFooter-div2-text-bold {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    height: 30px;
    color: #CCE1DD;
}

.factsFooter-div2-text-light {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
    .factsFooter-div1 {
        height: 250px;
        width: 900px;
    }

    .factsFooter-div2 {
        height: 250px;
        width: 900px;
    }

    .factsFooter-div1-text-bold {
        font-size: 30px;
    }
    
    .factsFooter-div1-text-light {
        font-size: 18px;
        line-height: 22px;
    }

    .factsFooter-div2-text-bold {
        font-size: 30px;
    }
    
    .factsFooter-div2-text-light {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .factsFooter-div1 {
        height: 200px;
        width: 700px;
    }

    .factsFooter-div2 {
        height: 200px;
        width: 700px;
    }

    .factsFooter-div1-text-bold {
        font-size: 25px;
        line-height: 30px;
        height: 30px;
        margin: 0;
    }
    
    .factsFooter-div1-text-light {
        font-size: 14px;
    }

    .factsFooter-div2-text-bold {
        font-size: 25px;
        line-height: 30px;
        height: 30px;
        margin: 0;
    }
    
    .factsFooter-div2-text-light {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {

    .factsFooter {
        padding: 1rem;
        margin: 0;
    }

    .factsFooter-paragraph {
        font-size: 18px;
        line-height: 24px;
    }

    .factsFooter-div1 {
        width: 300px;
        height: 700px;
    }

    .factsFooter-div2 {
        width: 300px;
        height: 600px;
    }

    .factsFooter-div1-text-bold {
        font-size: 30px;
        height: 240px;
        margin: 1rem;
        line-height: 35px;
    }

    .factsFooter-div1-text-light {
        font-size: 18px;
        margin: 1rem;
    }

    .factsFooter-div2-text-bold {
        font-size: 30px;
        height: 180px;
        margin: 1rem;
    }

    .factsFooter-div2-text-light {
        font-size: 18px;
        margin: 1rem;
    }
  }