.footer {
    background: #9BC4BC;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.footer-logo-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    margin-left:1rem;
    padding-top: 4rem;
    align-items: center;
}

.helsinki-png {
    width: 150px;
    height: auto;
}


.hus-png {
    width: 150px;
    height: auto;
}

.footer-contacts {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 1rem;
    margin-left: 1rem;
    color: #175054;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-contacts p {
    margin: 0 0 1rem 0;
}
.footer-contacts h1 {
    margin: 2rem 0 1rem 0;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.footer-contacts span {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}


.footer-social {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-weight: 500;
    color: #175054;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #175054;
}

@media screen and (max-width: 1000px) {
    .footer-logo {
        flex-direction: column;
        gap: 10px;
    }

    .footer-contacts h1 {
        font-size: 30px;
    }

    .footer-contacts {
        font-size: 14px;
        gap: 10px;
        margin-bottom: 1rem;
    }

    .footer {
       padding: 3rem;
    }
}
