body {
    margin: 0;
}



.header-text {
    font-family: 'Caveat Brush', cursive;
    font-size: 150px;
    color: #2D3142;
    position: absolute;
    top: 30%;
    right: 150px;
    z-index: 11;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    margin-top: 5rem;
    width: 100vw;
    opacity: 0.5;
}





@media (max-width: 700px) {
    .header-text {
        font-family: 'Caveat Brush', cursive;
        font-size: 40px;
        color: #2D3142;
        position: absolute;
        top: 30%;
        z-index: 11;
        max-width: 80%;
    }
    .slider {
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        width: 100vw;
        height: 80vh;
        
    }

    
} 
