body {
    margin: 0;
}

.header {
    height: 90vh;
    background-image: linear-gradient(to bottom, #C4C4C4, #EEEFF1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-family: 'Caveat Brush', cursive;
    font-size: 150px;
    color: #2D3142;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

